{% extends 'base.html.twig' %}

{% block title %}Promotions{% endblock %}

{% block body %}

<style>
    /* when tab not active*/
    .nav-pills .pill .nav-link:not(.active) {
        background-color: #343a40;
    }

    /* active (faded) */
    .nav-pills .pill .nav-link {
        background-color: #dc3545;
        ;
        color: white;
    }
</style>

{# structure de la page 10 colonnes de largeur et alignée à droite #}
<div class="container-fluid ">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">

            {# page body #}

            <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
                <li class="nav-item pill mr-1 mb-1">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Liste des Promotions</a>
                </li>
                <li class="nav-item pill  mr-1 mb-1">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Créer une Promotion</a>
                </li>
                <li class="nav-item pill mr-1 mb-1">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Afficher....</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                Salut sidi
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                Ecrire ici
                </div>
            </div>

            {# end body #}

        </div>
    </div>
</div>
{% endblock %}