<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-certificate fa-lg mr-3"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('editor_promo_liste') }}">Liste des promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('editor_promo_new') }}">Créer une promotion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('editor_promo_attr_appr') }}">Attribuer des Apprenants</a>
            </li>

        </ul>
    </div>
</nav>