{% extends 'base.html.twig' %}

{% block title %}Modification d'un apprenant{% endblock %}

{% block body %}


{% if app.user %}

    {# structure de la page 10 colonnes de largeur et alignée à droite #}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto my-5">
                <!-- insert apprenant menu -->
                {% include "editor/apprenant/_nav_apprenant.html.twig" %}

                <!-- display flash message -->
                <div class="my-5">
                    <div class="container col-12 " style="font-family: 'Amiri', serif;">
                        <h4 class="btn btn-info">Modifier un apprenant</h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
        
        
                        <button class="btn btn-outline-danger d-block ml-auto">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}