{% extends 'base.html.twig' %}

{% block title %}Gestion des apprenants{% endblock %}

{% block body %}
{% if app.user %}

    <style>
        input {
            outline: none;
            border: none;
            border-bottom: 1px solid #777;
        }

        form input:focus {
            border-color: blue;


        }

    </style>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mb-5 mt-5">

                {% include "editor/promotion/_nav_promotion.html.twig" with {'p':3} %}

                <div class="my-5">

                    <!-- flash messages -->
                    {% for message in app.flashes('success') %}
                    <div class="container alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="badge badge-danger mr-3">Erreur</span><strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    
                    <h4 class="btn btn-info">Attribuer un Apprenant</h4>
                    
                        
                   

                </div>

            </div>
        </div>
    </div>


{% endif %}

{% endblock %}